@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Barlow Condensed, Indie Flower, Montserrat, Oswald, Raleway, Open Sans Condensed, Heebo */

:root {
  --app-width: 1085px;
  --left-rail-width: 350px;
  --bar-width: 60px;
  --chat-list-width: 290px;
  --chat-feed-width: 720px;
  --right-rail-width: 10px;
  --margin-top: 7em;
  --bg-color: #d3d8e4de;
  --app-bg-color: #353b4c;
  --icons-color: #f8eded73;
  --card-text-color: white;
  --gradient-bg: linear-gradient(
    150deg,
    rgba(217, 219, 226, 1) 0%,
    rgb(128, 138, 172) 100%,
    rgba(40, 45, 57, 1) 100%
  );
  --own-msg-color: #726dfe;
  --active-bg: #726dfe;
  --active-title: white;
  --active-subtitle: rgb(224, 222, 222);
  --active-time: rgb(231, 230, 230);
  --active-hover: #726dfe;
  --card-hover: #454d61;
  --chat-bar-bg: #353b4c;
  --loginform-color: #f6f6f6;
  --login-hover: #9a97fc;
  --paperclip-color: #9a97fc;
  --their-msg-color: #454d61;
  --their-message-text-color: rgba(255, 255, 255, 0.705);
  --new-chat-input: #454d61;
  --scrollbar-color: #444a5c;
  --border-color: #454d61;
  --gray-text: rgba(255, 255, 255, 0.568);
  --add-chat-icon: rgba(197, 190, 190, 0.616);
  --bg-input: #3a4052;
  --title-font: Quicksand;
  --title-color: rgba(255, 255, 255, 0.925);
  --message-text-color: rgba(255, 255, 255, 0.877);
  --box-shadow: rgba(0, 0, 0, 0.678);
  --card-shadow: rgba(26, 25, 25, 0) 0px 5px 15px;
  --header-border: 1px;
}

.light {
  /*.light-mode { */
  --app-width: 1085px;
  --left-rail-width: 350px;
  --bar-width: 60px;
  --chat-list-width: 290px;
  --chat-feed-width: 720px;
  --right-rail-width: 10px;
  --bg-color: #ffffff;
  --icons-color: white;
  --active-bg: #a9a7aa42;
  --active-title: rgba(0, 0, 0, 0.828);
  --active-subtitle: rgba(71, 70, 70, 0.664);
  --active-time: rgba(71, 70, 70, 0.664);
  --active-hover: #d8d7f686;
  --card-hover: #d8d7f686;
  --gradient-bg: linear-gradient(
    150deg,
    rgba(217, 219, 226, 1) 0%,
    rgb(198, 198, 228) 100%,
    rgba(40, 45, 57, 1) 100%
  );
  --app-bg-color: #f0efef;
  --own-msg-color: #4546a5;
  --card-text-color: rgba(0, 0, 0, 0.733) !important;
  --chat-bar-bg: #4546a5;
  --loginform-color: #f6f6f6;
  --login-hover: #9a97fc;
  --paperclip-color: #9a97fc;
  --their-msg-color: #a9a7aa42;
  --their-message-text-color: #202020b6;
  --new-chat-input: rgba(211, 216, 230, 0.247);
  --scrollbar-color: #726dfe1e;
  --border-color: #8c8c8f42;
  --gray-text: rgba(71, 70, 70, 0.664);
  --add-chat-icon: rgba(197, 190, 190, 0.616);
  --bg-input: #f6f6f6;
  --title-font: Quicksand;
  --title-color: rgba(0, 0, 0, 0.698);
  --message-text-color: rgba(255, 255, 255, 0.877);
  --box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
  --card-shadow: rgba(99, 99, 99, 0.05) 0px 2px 8px 0px;
  --header-border: 1px;
}

input {
  filter: none !important;
}

textarea:focus,
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #454d61;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  overflow: hidden !important;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important;

  /* Firefox, other Gecko */
  background: linear-gradient(
    150deg,
    rgb(192, 196, 207) 0%,
    rgb(133, 145, 194) 100%,
    rgba(40, 45, 57, 1) 100%
  );
}

body {
  background: rgba(217, 219, 226, 0);
}

html * {
  font-family: Quicksand;
}

#root,
.app {
  height: 100% !important;
}

.chat-container {
  height: 100% !important;
  background: rgb(222, 217, 226);
  background: var(--gradient-bg);
  margin: auto;
}

/* @media only screen and (min-width: 100px) {

/* Login */

.auth-form {
  background-color: var(--app-bg-color) !important;
  width: 350px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.678);
  margin-top: 200px !important;
  padding: 50px !important;
  color: var(--title-color) !important;
  padding-bottom: 20px !important;

  h1 {
    text-align: center !important;
  }

  button {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    width: 350px !important;
    height: 40px !important;
    background-color: var(--own-msg-color) !important;
    color: white !important;
    border-width: 0 !important;
    border-radius: 10px !important;
    cursor: pointer;

    &:hover {
      background-color: #7f7af8 !important;
    }
  }

  .server-error {
    color: rgb(250, 95, 95) !important;
    text-align: center !important;
    margin-bottom: 30px !important;
  }
}

.loading-image {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 35px !important;
  margin-bottom: 30px !important;
  margin-top: 10px !important;
}

.logo-text {
  margin-left: 10px !important;
  display: flex !important;
}

.logo-img {
  height: 88px !important;
}

.already-account {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.signup-fields {
  button {
    margin-top: 0px !important;
  }

  .login-field {
    margin-top: 15px !important;
  }
}

.anticon-comment svg {
  color: #e0dffcc9 !important;
}

.logo-text-second {
  color: var(--own-msg-color) !important;
}

.login-field {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: var(--border-color) !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 10px !important;
  display: flex !important;
  flex-direction: row !important;

  label {
    display: flex !important;
    flex-direction: row !important;
  }
}

.login-fields {
  margin-top: 10px !important;
  margin-bottom: 35px !important;

  .error {
    color: rgb(250, 95, 95) !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
  }
}

.google {
  padding: 10px !important;
  margin-bottom: 5px !important;
  border-width: 0 !important;
  border-style: solid !important;
  border-radius: 15px !important;
  color: rgba(255, 255, 255, 0.801) !important;

  svg {
    font-size: 18px !important;
    color: white !important;
  }

  &:hover {
    cursor: pointer;
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    border-color: var(--own-msg-color) !important;
    margin-bottom: 4px !important;
  }
}

.login-field input {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: var(--border-color) !important;
  border-style: solid !important;
  border-width: 0 !important;
  color: var(--loginform-color) !important;
  margin-left: 10px !important;
  font-size: 16px !important;
}

.social-login {
  width: 100% !important;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
}

.signup-text {
  color: #a5a2f8 !important;
  cursor: pointer;

  &:hover {
    color: #b7b5f3 !important;
  }
}

.social-media-header {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 10px !important;
  color: white !important;

  hr {
    width: 50px !important;
    padding: 0 !important;
    height: 1px !important;
    border-width: 0 0 1px 0 !important;
    border-color: var(--own-msg-color) !important;
  }
}

/* App Container */

.chat-container > div:nth-child(1) > div:nth-child(2) {
  width: var(--app-width) !important;
  padding-right: 0px !important;
  border-style: solid;
  border-width: 1px !important;
  border-color: #4547a53f;
  display: flex !important;
  justify-content: flex-start !important;
  background-color: var(--app-bg-color) !important;
  border-radius: 15px !important;
  box-shadow: var(--box-shadow);
  flex-wrap: nowrap !important;
}

.chat-settings-box {
  width: 15px !important;
  min-width: 15x !important;
  height: 78px !important;
  border-style: solid !important;
  border-color: var(--border-color) !important;
  border-width: 0 0 1px 0 !important;
  border-bottom-width: var(--header-border) !important;
}

.chat-container > div:nth-child(1) {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 20px !important;

  > div:nth-child(2) > div:nth-child(2) {
    max-width: var(--chat-feed-width) !important;
    width: var(--chat-feed-width) !important;
    flex: 0 0 100% !important;
    border-width: 0 0 0 1px !important;
    border-color: var(--border-color) !important;
    border-style: solid !important;
  }
}

/* Chat Feed */

.ce-chat-feed {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) rgba(255, 255, 255, 0);
  border-width: 0px !important;
  position: relative !important;
  margin-bottom: -30px !important;
}

.ce-chat-feed-container {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) rgba(255, 255, 255, 0);
  border-width: 0px !important;
  position: relative !important;
  margin-bottom: -30px !important;
  max-height: 97% !important;
}

.ce-feed-container-bottom {
  max-height: 70px !important;
}

.ce-chat-feed {
  img {
    border-width: 0 !important;
  }

  > div {
    background-color: var(--app-bg-color) !important;
  }
}

.ce-message-row {
  padding-bottom: 0 !important;

  span {
    color: var(--paperclip-color) !important;
    text-align: center !important;
  }
}

.ce-chat-title-container {
  color: white !important;
  display: flex !important;
  margin-left: 20px !important;
  z-index: 100 !important;
}

.ce-chat-header-container {
  margin-left: 15px !important;
}
.mobile-toggler {
  display: none !important;
}
.ce-chat-title {
  flex-wrap: nowrap !important;
  border-width: 0 0 1px 0 !important;
  border-color: var(--border-color);
  border-style: solid !important;
  border-bottom-width: var(--header-border) !important;

  > img:nth-child(2) {
    width: 50px !important;
    height: 50px !important;
  }
}

.ce-chat-title-text {
  font-family: var(--title-font) !important;
  font-size: 20px !important;
  font-weight: 600;
}

.ce-chat-header-container > div {
  &:nth-child(1) {
    font-size: 19px !important;
    font-weight: 500 !important;
    color: var(--title-color) !important;
  }

  &:nth-child(2) {
    color: var(--gray-text) !important;
  }
}

.ce-chat-title img {
  height: 42px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ce-message-bubble {
  background-color: var(--own-msg-color) !important;
}

.ce-their-message-bubble {
  max-width: 300px !important;
  word-wrap: break-word;
  background-color: var(--their-msg-color) !important;
  color: var(--their-message-text-color) !important;
}

.ce-my-message-bubble {
  max-width: 300px !important;
  word-wrap: break-word;
  color: var(--message-text-color) !important;
  margin-right: 5px !important;
}

.ce-message-input-form {
  background-color: var(--bg-input) !important;
  border-radius: 25px !important;
  padding: 0 !important;
  max-width: 620px !important;
  width: 620px !important;
  margin: auto;
  margin-bottom: 20px !important;
  display: flex !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:focus {
    background-color: #5e6475 !important;
  }
}

#msg-textarea {
  background-color: var(--bg-input) !important;
  border-width: 0 !important;
  color: var(--gray-text) !important;
  margin-top: 10px !important;
  font-family: Quicksand !important;
}

#ce-send-message-button {
  margin-left: 15px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  border-width: 0 !important;
  padding: 0 !important;
  outline: none;
  color: white;
  background-color: var(--own-msg-color) !important;
  cursor: pointer !important;

  &:hover {
    background-color: #7f7bfa !important;
  }
}

.send-icon {
  width: 20px !important;
  transform: rotate(-20deg);
  margin-left: 5px !important;
}

.ce-their-message-row {
  align-items: flex-end !important;
  padding-left: 10px !important;

  .ce-avatar-dot {
    display: none !important;
  }
}

.ce-their-message-avatar {
  > div {
    height: 100% !important;

    > div {
      height: 100% !important;
    }
  }

  height: 100% !important;
  position: absolute !important;
}

.ce-message-date-text {
  color: var(--gray-text) !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.ce-avatar {
  position: absolute !important;
  bottom: 0 !important;
  background-repeat: repeat !important;
  background-color: rgba(255, 255, 255, 0) !important;
  background-image: url('./images/empty.png');
}

div.ce-avatar-dot:nth-child(1) {
}

.ce-avatar-dot {
  background-repeat: repeat !important;
  background-color: rgba(255, 255, 255, 0) !important;
  /* background-image: url("./images/dot.png") !important; */
  margin-right: 5px !important;
  margin-top: 2px !important;
}

.ce-their-message-sender {
  display: none !important;
}

.anticon-paper-clip {
  position: relative !important;
  right: -15px !important;
  bottom: -10px !important;

  * {
    color: var(--paperclip-color) !important;
  }
}

.ce-message-form-container {
  display: flex !important;
  flex-direction: row !important;
  height: 70px !important;
}

.ce-message-form {
  display: flex !important;
  flex-direction: row !important;
  margin: auto;
  padding-top: 10px !important;
  margin-right: 10px !important;
}

.uploader {
  width: 40px !important;
}

#ce-ice-breaker-gif {
  max-width: 100px !important;
  margin-top: 30px !important;
}

/* Chat List */

.chat-left-wing {
  display: flex !important;
  height: 100% !important;
  width: var(--left-rail-width) !important;
  border-radius: 20x 0 0 20 !important;
  position: relative !important;
}

.chat-profile-container {
  border-width: 0 1px 0 0 !important;
  border-style: solid !important;
  border-color: var(--border-color) !important;
}

.chat-bar {
  height: 100% !important;
  background-color: var(--chat-bar-bg) !important;
  width: var(--bar-width) !important;
  display: flex !important;
  flex-direction: column !important;
  max-width: 60px !important;
  border-radius: 15px 0 0 15px !important;
  max-height: 100% !important;
  align-items: center !important;
  margin-top: auto !important;
  padding-left: 5px !important;
  border-style: solid !important;
  border-color: var(--border-color) !important;
  border-width: 0 1px 0 0 !important;
}

.chat-bar-options {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  margin: auto;
  padding-bottom: 100px !important;
}

.chat-bar-logo {
  margin-top: 20px !important;
  align-self: flex-start !important;
  width: 100% !important;

  img {
    width: 45px !important;
    padding-left: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.ce-chat-list {
  background-color: rgba(255, 255, 255, 0) !important;
  overflow-y: hidden !important;

  div {
    overflow-x: hidden !important;
  }
}

.ce-chats-container {
  > div {
    background-color: rgba(255, 255, 255, 0) !important;

    &:nth-child(1) {
      position: sticky !important;
    }
  }

  max-width: var(--chat-list-width) !important;
  width: var(--chat-list-width) !important;
  overflow: hidden !important;
}

.ce-chat-list {
  max-width: var(--chat-list-width) !important;
  width: var(--chat-list-width) !important;
  overflow: hidden !important;
}
.chat-list-user-status {
  display: flex !important;

  word-wrap: normal !important;
  flex-wrap: wrap !important;
}
.chat-list-user-status svg {
  color: var(--paperclip-color) !important;

  font-size: 15px !important;
}
.chat-list-user-status svg:hover {
  color: #b8b6f6 !important;
}
.chat-left-wing {
  padding-bottom: 20px !important;
}

.chat-left-wing-list {
  overflow: hidden !important;
}

.ce-chats-container {
  overflow: scroll !important;
  overflow-x: scroll !important;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--app-bg-color);

  > div {
    width: 280px !important;
  }

  &:last-child > div > div > div {
    background-color: rgba(0, 0, 255, 0) !important;
  }
}
.ce-chats-container {
  height: 530px;
  overflow: scroll !important;
}
.ce-chat-list {
  > div:nth-child(1) {
  }

  form {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: flex;
    align-items: center;
    padding: 10px !important;
  }

  input {
    background-color: var(--new-chat-input) !important;
    border-width: 0px !important;
    margin-left: 10px !important;
    border-radius: 25px !important;
    width: 210px !important;
    padding: 10px !important;
    color: var(--gray-text) !important;
    margin: 0px 0px 0px 10px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:focus {
      background-color: #5e64759f !important;
      border-width: 0 !important;
    }
  }
}

.chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  max-width: var(--left-rail-width) !important;
  width: var(--left-rail-width) !important;
  border-radius: 15px 0 0 15px !important;
}

.ce-chat-subtitle-text {
  font-size: 13px !important;
  margin-top: 2px !important;
}

.anticon-plus {
  font-size: 25px !important;
  width: 50px !important;
  display: flex;
  justify-content: center;
  font-weight: bold !important;

  svg {
    * {
      color: var(--paperclip-color) !important;
    }

    &:hover path {
      color: rgba(255, 255, 255, 0.863) !important;
      transition: 0.5s;
      border-radius: 50% !important;
    }
  }
}

.ce-chat-card {
  display: flex !important;
  padding: 12px !important;
  max-width: 230px !important;
  width: 230px !important;
  margin-top: 12px !important;
  margin-bottom: 2px !important;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-input) !important;
  border-width: 0px !important;
  color: var(--card-text-color) !important;
  border-radius: 12px !important;
  box-shadow: var(--card-shadow) !important;

  &:hover {
    background-color: var(--card-hover) !important;
  }
}

.ce-active-chat-card:hover {
  background-color: var(--active-hover) !important;
}

.ce-chats-container > div > span:nth-child(1) {
  width: 85% !important;
}

.avatar-online {
  position: relative !important;
}

.chat-list-avatar {
  border-radius: 50% !important;
  width: 45px;
}

.ce-active-chat-card {
  background-color: var(--active-bg) !important;
  margin-top: 10 !important;
  color: var(--active-title) !important;

  .ce-chat-subtitle-text {
    color: var(--active-subtitle) !important;
  }

  .chat-card-activity-time {
    color: var(--active-time) !important;
  }
}

.ce-chat-card img {
  width: 45px !important;
  height: 45px !important;
  margin-right: 10px !important;
}

.chat-card-info {
  max-width: 130px !important;
  width: 130px !important;
  padding-right: 5px !important;

  > div {
    &:nth-child(1) {
      font-size: 15px !important;
      font-weight: 500 !important;
    }

    &:nth-child(2) {
      font-weight: 400 !important;
      color: var(--gray-text) !important;
    }
  }
}

.chat-card-activity {
  padding-left: 0px !important;
}

.chat-card-activity-time {
  color: var(--gray-text) !important;
  font-size: 12px !important;
  white-space: nowrap;
  justify-self: flex-end;
}

/* Chat Settings */

.settings-container {
  width: 100px !important;
}

.chat-container > div:nth-child(1) > div:nth-child(2) {
  > div {
    &:nth-child(3) {
      border-radius: 0 15px 15px 0 !important;
    }
  }

  margin-top: var(--margin-top) !important;
}

.ce-settings {
  max-width: 220px !important;
  width: 220px !important;
  background-color: var(--app-bg-color) !important;
  color: var(--title-color) !important;
  overflow: hidden !important;
  border-color: var(--border-color) !important;
  border-radius: 0 15px 15px 0 !important;
}

.ce-settings-container {
  background-color: var(--app-bg-color) !important;
  color: var(--title-color) !important;
  overflow: hidden !important;
  border-color: var(--border-color) !important;
  border-radius: 0 15px 15px 0 !important;
}

.current-username {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
}

.user-avatar {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
  margin-left: 20px !important;
}

.chat-profile-info {
  display: flex !important;
  flex-direction: column !important;
  margin-left: 15px !important;
  justify-content: flex-start;
  padding-top: 5px !important;
}

.chat-profile-container {
  display: flex !important;
  padding-top: 20px !important;
}

.user-avatar img {
  margin: auto !important;
  width: 70px !important;
  height: 70px !important;
}

.current-username {
  margin-bottom: 20px !important;

  /* Barlow Condensed, Indie Flower, Montserrat, Oswald, Raleway, Open Sans Condensed, Heebo */

  font-size: 20px !important;
  font-weight: 500 !important;
  display: inline !important;
  margin: auto !important;
  margin: 0 !important;
  text-align: left !important;
  margin-bottom: 8px !important;
}

.username-border {
  display: inline-block !important;
  border-width: 0 0 0 0 !important;
  border-color: var(--own-msg-color) !important;
  border-style: solid !important;
  margin-bottom: 0px !important;
  font-family: Quicksand !important;
  color: var(--title-color) !important;
}

.ce-settings-container > div {
  border-width: 0 !important;
  display: flex;
  flex-direction: column;
}

.image-input {
  display: none;
}

.user-status {
  color: var(--gray-text) !important;
  font-size: 15px !important;
  margin-right: 5px !important;
}

.current-user-info {
  display: flex !important;
  flex-direction: column !important;

  i img {
    cursor: pointer !important;
    transition: 0.2s !important;

    &:hover {
      opacity: 0.85 !important;
    }
  }
}

.image-upload-actions {
  display: flex !important;
  justify-content: center;
  margin-top: 10px !important;
  margin-bottom: 10px !important;

  button {
    background-color: var(--own-msg-color) !important;
    border-width: 0 !important;
    padding: 8px !important;
    border-radius: 20px !important;
    color: var(--title-color) !important;
    margin: 5px !important;
    cursor: pointer !important;
  }
}

canvas {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.chat-new-avatar {
  margin: auto !important;
}

#ce-options-drop-down:hover {
}

.ce-section-title {
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  transition: 0.5s !important;
}

.ce-photo-title:hover {
  background-color: #767f9900 !important;
}

.ce-section-title {
  background-color: #767f9900 !important;

  &:hover {
    border-color: rgba(255, 255, 255, 0.322) !important;
    transition: 0.5s !important;
  }
}

.ce-photo-section {
  padding-left: 12px !important;
  padding-right: 12px !important;
  border-radius: 15px !important;
  padding-top: 5px !important;
}

.gallery-error {
  padding-bottom: 10px !important;
  color: var(--gray-text) !important;
}

.newChatError {
  color: rgb(245, 71, 71) !important;
  padding-left: 20px !important;
  margin-top: -10px !important;
}

.anticon-down {
  color: var(--paperclip-color) !important;
  font-size: 24px !important;
}

.ce-photo-section:hover {
}

.ce-photo-title-container {
  max-height: 50px !important;

  &:hover {
  }
}

.ce-photo-feed {
}

.ce-settings-container > div:nth-child(2) {
  padding-left: 12px !important;
  padding-right: 12px !important;
  border-radius: 15px !important;
  margin-bottom: 0 !important;

  &:hover {
    background-color: #767f9900 !important;
  }
}

.options-icons {
  display: flex !important;
  justify-content: center !important;
  width: 50px !important;
  cursor: pointer;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  display: none !important;
}

.chat-bar-options {
  .anticon {
    border-width: 0px !important;
    border-style: solid !important;
    border-color: #c6c4f62f !important;
    border-radius: 50% !important;
    margin: 5px !important;
    transition: 0.4s;
  }

  svg {
    padding: 10px !important;
    font-size: 24px !important;
    color: var(--icons-color) !important;
    cursor: pointer;
  }
}

.current-user-info img {
}

.edit-name-input input {
  background-color: var(--their-msg-color) !important;
  border-width: 0 !important;
  border-radius: 20px !important;
  padding: 3px !important;
  margin: 2px !important;
  color: var(--gray-text) !important;
  max-width: 100% !important;
  padding-left: 5px !important;
}

.chat-bar-options {
  svg:hover {
    color: #f1f1f1 !important;
    transition: 0.4s;
  }

  .anticon:hover {
    -webkit-transform: scale(1.15);
    transition: 0.4s;
    color: #f1f1f1 !important;
    border-color: #9a97fcce !important;
  }
}

.options-icons-container {
  display: flex !important;
  transition: 1s !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  text-align: left !important;
}

.options-description {
  font-size: 12px !important;
  color: var(--gray-text) !important;
  margin-bottom: 10px !important;
}

.anticon-left path {
  color: var(--paperclip-color) !important;
}

.anticon-logout,
.anticon-delete {
  padding-left: 0px !important;
}

.anticon-left {
  right: 0 !important;

  svg {
    line-height: 2px !important;
    font-size: 20px !important;
  }
}

.profile-line {
  width: 70px !important;
  color: var(--paperclip-color) !important;
  padding: 1px !important;
  background-color: var(--paperclip-color) !important;
  margin-top: -10px !important;
}

.chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
  flex: 0 0 0 0 !important;
  min-width: var(--right-rail-width) !important;
}

/* RWD
--rwd1: 1600px;
--rwd2: 1536px;
--rwd3: 1440px;
--rwd4: 1366px;
--rwd5: 1280px;
--rwd6: 1100px; */

@media only screen and (max-width: 1600px) {
  :root {
    --app-width: 1090px;
    --left-rail-width: 350px;
    --bar-width: 60px;
    --chat-list-width: 290px;
    --chat-feed-width: 720px;
    --right-rail-width: 10px;
    --margin-top: 3em;
  }
  .auth-form {
    margin-top: 9em !important;
  }
}
@media only screen and (max-width: 1400px) {
  :root {
    --margin-top: 8em;
  }
}
@media only screen and (max-width: 1150px) {
  :root {
    --app-width: 100%;
    --left-rail-width: 350px;
    --bar-width: 60px;
    --chat-list-width: 290px;
    --chat-feed-width: 100%;
    --right-rail-width: 0px;
    --margin-top: 0em;
  }

  .chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    max-width: none !important;
    width: auto !important;
    border-width: 0 0 0 1px !important;
    border-color: var(--border-color) !important;
    border-style: solid !important;
    flex: auto !important;
  }
  .chat-container > div:nth-child(1) > div:nth-child(2) {
    width: 100% !important;
    max-width: 100% !important;
  }
  .ce-message-form {
    width: 90% !important;
  }
  .ce-message-input-form {
    background-color: var(--bg-input) !important;
    border-radius: 25px !important;
    padding: 0 !important;
    max-width: auto !important;
    width: 100% !important;
    margin: auto;
    margin-bottom: 20px !important;
    display: flex !important;

    &:focus {
      background-color: #5e6475 !important;
    }
  }
  .ce-my-message-bubble {
    margin-right: 10px !important;
  }
  .chat-bar {
    border-radius: 0 !important;
  }
  .ce-chats-container {
    height: calc(100vh - 76px);
    overflow: scroll !important;
  }
  .ce-message-form {
    margin: auto !important;
  }
}
@media only screen and (max-width: 700px) {
  .chat-card-info {
    width: 70% !important;
    max-width: 70% !important;
  }
    .mobile-toggler {
      display: block !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      color: rgba(255, 255, 255, 0.685) !important;
      align-items: center;
    
    }
    .mobile-toggler svg {
      font-size: 24px !important
    }
  .ce-chat-feed .mobile-toggler {
    padding-left: 20px !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    display: none;
  }
  .chat-left-wing {
    width: 80% !important;
    margin: auto !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
  }
  .chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 1000px !important;
    max-width: 100% !important;
    flex: 1 !important;
    border-radius: 0 !important;
  }
  .chat-container > div:nth-child(1) > div:nth-child(2) {
    border-radius: 0 !important;
  }
  .chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
    display: none !important;
  }
  .ce-chat-list {
    max-width: 100% !important;
    width: 100% !important;
  }
  .ce-chat-card {
    max-width: 300px !important;
    width: 300px !important;
  }
  .ce-chats-container {
    max-width: 360px !important;
    width: 360px !important;
  }
  .ce-chats-container > div {
    width: 350px !important;
}
.ce-chat-list input {
margin-left: 0 !important;
  width: 300px !important;
}
.chat-bar {
  border-width: 0 !important;
 padding-top: 5px !important;
}
}
@media only screen and (max-width: 600px) {
  .chat-left-wing {
    width: 90% !important;
  }
  .auth-form {
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
    padding: 0 !important;
    margin: auto !important;
    overflow: auto !important;
  }
  .logo {
    margin-top: 0 !important;
    padding-top: 1em !important;
    margin-bottom: 20px !important;
  }
  .login-fields {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .auth-link-container {
    padding-left: 20px !important;
  }
  .auth-form button {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .auth-form form {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
   
    border-radius: 0 !important;
  }
  .chat-container > div:nth-child(1) > div:nth-child(2) {
    border-radius: 0 !important;
  }
  .chat-card-info > div:nth-child(1) {
font-size: 14px !important;
  }
  .ce-chat-list input {
    margin-left: 0 !important;
  }
.chat-bar {
 max-width: 50px !important;
 padding-left: 0 !important;
}
  .chat-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 1000px !important;
    max-width: 100% !important;
    flex: 1 !important;
    display: none;
  }
  .chat-left-wing {
    width: 100% !important;
    margin: auto !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  }
  .ce-chat-list {
    max-width: 100% !important;
    width: 100% !important;
  }
  .chat-left-wing-list {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 10px !important;
  }
  .ce-chat-list input {
    width: 100% !important;
  }
  .ce-chats-container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .ce-chat-card {
    max-width: 100% !important;
    width: 92% !important;
  }
  .ce-chats-container > div {
    width: 92% !important;
}
.chat-card-info {
  width: 60% !important;
  max-width: 60% !important;
}
.ce-chat-card img {
  width: 45px !important;
  height: 45px !important;
  margin-right: 10px !important;
}
.chat-card-activity {
  width: 20% !important;
  text-align: right !important;
}
}